name = "ProlateSpheroidal"
uuid = "bc375c4d-1d06-41b0-a1fb-6f2d8a7a2632"
version = "1.0.0-DEV"
authors = ["Xuanzhao Gao <xgao@flatironinstitute.org> and contributors"]

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
